<fhlbny-breadcrumb [breadcrumbData]="breadcrumb"></fhlbny-breadcrumb>
<form [formGroup]="editForm">
    <fhlbny-panel headerTitle="{{panelTitle}}">
        <div class="form-group row d-none">
            <label for="id" class="col-12 col-sm-3 col-form-label text-sm-right">
              Id
            </label>
            <div class="col-12 col-lg-6 col-sm-8">
              <input type="number" formControlName="id" class="form-control form-control-sm" id="field_id" placeholder="Enter id">
            </div>
          </div>
<div class="form-group row" #sdfContainer>
    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="field_sdf">Sdf</label>
    <div class="col-12 col-lg-6 col-sm-8">
              <input type="text" class="form-control form-control-sm " formControlName="sdf"  id="field_sdf"
              placeholder="Enter sdf"/>
        </div>
      </div>
    <div class="form-group text-center row mb-0">
        <div class="col-12 col-sm-3"></div>
        <div class="col-12 col-lg-6 col-sm-8 text-right">
          <ng-container>
            <button *ngIf="formType === 'update'" type="button" id="btn_update" class="btn btn-primary" (click)="save()">
              <i class="fa fa-save"></i> Update
            </button>
          </ng-container>
          <ng-container>
            <button *ngIf="formType === 'update'" type="button" id="btn_delete" class="btn btn-primary ml-2" (click)="openDeleteModal(deleteModal)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </ng-container>
          <button *ngIf="formType === 'add'" type="submit" id="btn_save" class="btn btn-primary" (click)="save()">
            <i class="fa fa-save"></i> Save
          </button>
          <button class="btn btn-dark ml-2" type="button" id="btn_cancel" (click)="previousState()">
            <i class="fa fa-ban"></i> Cancel
          </button>
        </div>
      </div>
    </fhlbny-panel>        
</form>
<sun-modal [headerTitle]="'Delete'" #deleteModal>
    <div sun-modal-body>
      <p>You are about to delete this record. Are you sure? </p>
    </div>
    <div sun-modal-footer>
      <button type="button" class="btn btn-danger" (click)="delete()" id="btn_confirm_delete">Delete</button>
      <button type="button" class="btn btn-secondary"  (click)="closeDeleteModal(deleteModal)" id="btn_confirm_cancels">Cancel</button>
    </div>
  </sun-modal>
